html, body { margin: 0; padding: 0 }

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header{
  color: rgb(0, 0, 0);
}

.App-body{
  
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  background-color:rgb(240, 240, 240);
}

.body-item{
  flex: 1;
  padding: 10px;
  /* height: 100vh; */

}

.postList
{
  height: 90vh;
  overflow-y: scroll;
}

.body-item h1{
  border-bottom: 0.3vh solid #333;
  text-align: center;
}

.post{
  border: 0.3vh solid rgb(32, 32, 32);
  padding: 1vh;
}

.post h4{
  text-align: right;
}


.title{
  font-size: 6vh;
  padding-right: 2vh;
  border-right: 0.3vh solid #333;
}

.connection{
  border: 0.3vh solid rgb(32, 32, 32);
 margin: 0.1em;
display: flex;
flex-flow: column;
text-align: center;

 float: left;
}

.connection img{
  border-radius: 60%;
  padding: 0.8vh;
}

.connection button{

  bottom:0;  
}

.connectList{
  display: flex;
  flex-flow: row;
  overflow-y: hidden;
  overflow-x: scroll;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

input, button {
	box-shadow: none;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	line-height: 100%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.6rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-height: 38px;
}

.input-group{
  float: none;
  display: inline-block;
  vertical-align: middle;  
}

label input{
  margin-left: 2em;
}

.chat{
  width: 100%;
  margin: 1vh;
}

.chat img{
  width: 4.5vh;
}

.name{
font-size: 1.3em;
}

.chat p{
  padding: 0.5vh;
  margin: 0px;
}

#messageList{
  display: flex;
  flex-direction: column;
  margin: 0; /* To remove default bottom margin */ 
  padding: 0; /* To remove default left padding */
  width: 30vh;
  overflow-x: hidden;
  word-wrap: break-word;
}

.innerChat{
  display: inline-flex;
  flex-direction: row;
}

.dialogue-container{
  border: 0.3vh solid rgb(32, 32, 32);

}

.dialogue-container ul{
height: 50vh;
overflow-y: scroll;
}

.warning{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vh;
}

.userLogout{

}

.date{
  left:0;bottom:18px
}