html, body { margin: 0; padding: 0 }

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header{
  color: rgb(0, 0, 0);
}

.App-body{
  
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  background-color:rgb(240, 240, 240);
}

.body-item{
  flex: 1;
  padding: 10px;
  height: 100vh;

}

.postList
{
  height: 45vh;
  overflow-y: scroll;
}

.body-item h1{
  border-bottom: 0.3vh solid #333;
  text-align: center;
}

.post{
  border: 0.3vh solid rgb(32, 32, 32);
  padding: 1vh;
}

.post h4{
  text-align: right;
}


.title{
  font-size: 6vh;
  padding-right: 2vh;
  border-right: 0.3vh solid #333;
}

.connection{
  border: 0.3vh solid rgb(32, 32, 32);
 margin: 0.1em;
display: flex;
flex-flow: column;
text-align: center;

 float: left;
}

.connection img{
  border-radius: 60%;
  padding: 0.8vh;
}

.connection button{

  bottom:0;  
}

.connectList{
  display: block;
  overflow: scroll;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

input, button {
	box-shadow: none;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	line-height: 100%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.6rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-height: 38px;
}

label input{
  margin-left: 2em;
}

.chat{
  width: 100%;
}

.chat img{
  width: 5vh;
  margin: 1vh;
}

.messageList{
  display: flex;
  flex-direction: column;
}

.innerChat{
  display: inline-flex;
  flex-direction: row;
}

.dialogue-container{
  border: 0.3vh solid rgb(32, 32, 32);

}

.dialogue-container ul{
height: 50vh;
overflow-y: scroll;
}