html, body { margin: 0; padding: 0 }

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header{
  color: rgb(0, 0, 0);
}

.App-body{
  
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;

}

.body-item{
  flex: 1;
  padding: 10px;
  height: 100%;
  background-color:rgb(240, 240, 240);
}

.body-item h1{
  border-bottom: 0.3vh solid #333;
  text-align: center;
}

.post{
  border: 0.3vh solid rgb(32, 32, 32);
  padding: 1vh;
}

.post h4{
  text-align: right;
}


.title{
  font-size: 6vh;
  padding-right: 2vh;
  border-right: 0.3vh solid #333;
}

.connection{
  border: 0.3vh solid rgb(32, 32, 32);
 margin: 0.1em;
display: flex;
flex-flow: column;
text-align: center;

 float: left;
}

.connection button{

  bottom:0;  
}

.connectList{
  display: block;
  overflow: scroll;
}
